body{
  background-image: url(background.jpg);
  background-size: cover;
  font-family: arial;
}

.sfondo-trasparente{
  padding: 80px 70px;
  background: rgba(0, 0, 0, 0.6);
  margin: auto;
  border-radius: 10px;
  width: 53%
}

header > img{
  width:180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header > span{
  color: #39FF14;
  font-size: 25px;
  display: block;
  text-align: center;
  line-height: 1.5;
}

nav{
  background-color: #39FF14;
  text-align: center;
  line-height: 2;
}

.body{
  line-height: 1.5;
}

.titolo{
  color: white;
  font-size: 17px;
}

.indirizzo{
  color: lightgrey;
  font-size: 12px;
}

.carica{
  background-color: orange;
  width: 225px;
  border-radius: 4px;
  line-height: 1.5;
}

.carica2{
  background-color: #39FF14;
  width: 475px;
  border-radius: 4px;
  line-height: 1.5;
}

.carica3{
  background-color: red;
  width: 100px;
  border-radius: 4px;
  line-height: 1.5;
}
